.movie-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 60vh;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #222222;
    border-radius: 4px;
  
    &__close {
      position: absolute;
      right: -30px;
      top: 0;
      background-color: transparent !important;
      border: none !important;
      outline: none !important;
      color: #ffffff;
      font-size: 24px;
      cursor: pointer;
    }
  }